*{
    margin: 0px;
    padding: 0px;
    font-family: 'poppins';
}
h1{
    margin-top: 30px;
    text-align: center;
    color: #3EB034;
}
body{
    background-image: url(./assets/pexels-min-an-1006122.jpg);
    background-attachment: fixed;
    height: 100vh;
    width: 100%;
    background-position: center;
    background-size: cover;
    position: relative;
    overflow: hidden;
}
.contact-box{
    width: 500px;
    position: absolute;
    box-shadow: 0, 0, 20px, 0 white;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.form-cont{
    width: 400px;
    height: 50px;
    margin-top: 20px;
    padding-left: 10px;
    border: none;
    border-radius: 13px;
    outline: none;
    background-color: #C4C4C4;
    font-size: 20px;
}
.textArea{
    height: 130px;
    width: 400px;
    border-radius: 18px;
    margin-top: 20px;
    border: none;
    background-color: #C4C4C4;
    padding-left: 10px;
    padding-top: 10px;
    font-size: 20px;
}
button{
    background-color: #21E835;
    color: white;
    padding: 10px;
    border-radius: 20px;
    border: none;
    width: 200px;
    height: 75px;
    margin-top: 20px;
    font-size: 36px;
}
::placeholder{
    font-weight: 400;
    color:black;
}

nav{
    display: flex;
    justify-content: space-between;
    padding: auto;
    align-items: center;

}
.navbar ul li{
    display: inline-block;
    padding: 15px;
    list-style: none;
    position: relative;
    margin-top: 25px;
    margin-right: 25px;

}
.navbar ul li a{
    color:black;
    text-decoration: none;
 background-color: #C0C0C0	;
    padding: 15px;


}
.navbar ul li a:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);
    background: #3eb034;
    color:black;
    }
.logo{
    display: flex;
    justify-content: space-between;
    text-align:center;
    background-color:#C0C0C0	;


}
.n{
    color: #3eb034;
}