*{
    font-family: 'poppins';
    align-items: center;
}
h1{
    padding: 5px;
    background-color: rgb(255, 255, 255, .2);
    margin-left: 500px;
    margin-right: 500px;
    text-align: center;
    font-size: 70px;
    color: #52A050;
}
h2{
    font-size: 40px;
    text-align: center;
    color: #52A050;
}
.eventsContent{
    display: flex;
    justify-content: space-between;

}
.dates{
    background-color: rgb(255, 255, 255, .2);
    padding: 50px;
    height: 1500px;
    width: 30vw;
    margin-left: 50px;
    margin-bottom: 50px;
}
.comm_invol{
    background-color: rgb(255, 255, 255, .2);
    padding: 50px;
    height: 1500px;
    width: 35vw;
    margin-right: 50px;
    margin-bottom: 50px;
}
body{
    background-image: url(./Images/pexels-lisa-1301856.jpg);
    height: 100vh;
    width: 100%;
    background-position: center;
    background-size: cover;
    position: relative;
    min-height: 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    overflow-x: hidden;
}
.pageCont{
    font-size: 25px;
}
h3{
    font-size: 30px;
}
.p_heading{
    font-size: 30px;
}
.heading{
    font-size: 30px;
}
ul li{
    font-weight: 600;
}
ol li{
   padding: 15px;
}