*{
    font-family:'poppins' ;
}
nav{
    display: flex;
    justify-content: space-between;
    padding: auto;
    align-items: center;
}
.navbar ul li{
    display: inline-block;
    padding: 15px;
    list-style: none;
    position: relative;
    margin-top: 25px;
    margin-right: 25px;

}
.navbar ul li a{
    color:black;
    text-decoration: none;
    background-color: gray;
    padding: 15px;


}
.logo{
    display: flex;
    justify-content: space-between;
}
