h1{
    text-align: center;
}

body{
    background-image: url(./Assets/learnmore.jpg);
    background-position: center;
    background-attachment: fixed;
}
.learnmore{
    background-color: hsl(30, 100%, 29%);
    border-style: none;
    margin-bottom: 300px;
    text-align: center;
}
.text2{
    margin-top: 5px;
    margin-bottom: 10px;
    margin-left: 50px;
    margin-right: 50px;
    padding: 20px;
    background-color: white;
    overflow: scroll;
    height: 200px;
    width: 300px;

}
.image{
height: 200px;
width: 300px;
background-color: white;
margin-right: 20px;
margin-left: 25px;
margin-bottom: 20px;

}
.climate{
    background-color: #4F9DAE;
    border-style: none;
    margin-bottom: 300px;
    
}
.text1{
    background-color: white;
    border-style: none;
    width: 300px;
    height:200px;
    margin-bottom: 20px;
    margin-left: 50px;
    padding: 20px;
    overflow: scroll;
}
.video{
    margin-bottom: 20px;
}
.learn{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
  .heading{
      background-color: white;
      margin-right: 450px;
      margin-left: 450px;
      padding: 2px;
      margin-bottom: 50px;
      margin-top: 20px;
      color: #3EB034;
  }
