*{
    margin: 0px;
    padding: 0px;
}
h1{
    text-align: center;
}

body{
    background-image: url(./Assets/learnmore.jpg);
    background-position: center;
    background-attachment: fixed;
}
.learnmore{
    background-color: hsl(30, 100%, 29%);
    border-style: none;
    margin-bottom: 300px;
    text-align: center;
}
.text2{
    margin-top: 5px;
    margin-bottom: 10px;
    margin-left: 50px;
    margin-right: 50px;
    padding: 20px;
    background-color: white;
    overflow: scroll;
    height: 200px;
    width: 300px;

}
.image{
height: 200px;
width: 300px;
background-color: white;
margin-right: 20px;
margin-left: 25px;
margin-bottom: 20px;

}
.climate{
    background-color: #4F9DAE;
    border-style: none;
    margin-bottom: 300px;
    
}
.text1{
    background-color: white;
    border-style: none;
    width: 300px;
    height:200px;
    margin-bottom: 20px;
    margin-left: 50px;
    padding: 20px;
    overflow: scroll;
}
.video{
    margin-bottom: 20px;
}
.learn{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
  .heading{
      background-color: white;
      margin-right: 450px;
      margin-left: 450px;
      padding: 2px;
      margin-bottom: 50px;
      margin-top: 70px;
      color: #3EB034;
  }
  nav{
    display: flex;
    justify-content: space-between;
    padding: auto;
    align-items: center;
}
.navbar ul li{
    display: inline-block;
    padding: 15px;
    list-style: none;
    position: relative;
    margin-top: 25px;
    margin-right: 25px;
}
.navbar ul li a{
    color:black;
    text-decoration: none;
 background-color: #C0C0C0  ;
    padding: 15px;
}
.navbar ul li a:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);
    background: #3EB034;
    color:black;
    }
.logo{
    display: flex;
    justify-content: space-between;
    text-align:center;
    background-color:#C0C0C0  ;
}
.n{
    color: #3EB034;
}
.contact-box{
    width: 500px;
    position: relative;
    box-shadow: 0, 0, 20px, 0 white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    margin-top: 200px;
}
.form-cont{
    width: 400px;
    height: 50px;
    margin-top: 20px;
    padding-left: 10px;
    border: none;
    border-radius: 13px;
    outline: none;
    background-color: #C4C4C4;
    font-size: 20px;
}
.textArea{
    height: 130px;
    width: 400px;
    border-radius: 18px;
    margin-top: 20px;
    border: none;
    background-color: #C4C4C4;
    padding-left: 10px;
    padding-top: 10px;
    font-size: 20px;
    outline: none;
}
button{
    background-color: #21E835;
    color: white;
    padding: 10px;
    border-radius: 20px;
    border: none;
    width: 200px;
    height: 75px;
    margin-top: 20px;
    font-size: 36px;
}
::placeholder{
    font-weight: 400;
    color:black;
}
footer{
    display: flex;
    justify-content: space-between;
    color: white;
    background-color: rgb(0, 0, 0, .4);
    margin-top:0px;
}
.footer{
    display: flex;
    justify-content: space-between;
}
.f-logo{
    display: flex;
    width: 30vw;
    text-align: center;
    margin-top:0px;
    margin-left: 20px;
    padding: 10px;
}
.f-paragraph{
    font-size: 15px;
    width: 30vw;
    margin-top: 5px;
}
.social{
    font-size: 15px;
    margin-left: 75px;
}