*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    align-items: center;
    font-size: 25px;
}
body{
    
    background-image: url(./images/participate.jpg);
    background-position:center;
    background-size: cover;
    position: relative;
    min-height: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.H1{
    background-color: white;
    border-style: none;
    text-align: center;
    padding: 10px;
    margin-bottom: 20px;
    margin-left: 700px;
    margin-right:700px ;
    text-align: center;
}

.how{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
   
    margin-bottom: 20px;  
}

.participate{
    background-color: white;
    border-style: none;
    text-align: center;
    margin: 50px;
    margin-left: 700px;
   margin-right:700px ;
   padding:20px;
    
}
.heading{
    background-color: white;
    border-style: none;
    text-align: center;
    margin-bottom: 20px;
    margin-left: 850px;
    margin-right: 850px;
    padding: 10px;
    font-weight: 700;
}
button{
    
    background-color: rgb(52, 204, 52);
    border: none;
    color:black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
.how2{
    background-color: white;
    border-style: none;
    text-align: center;
    padding: 20px;
    margin-left: 200px;
    margin-right: 200px;
    height:500px ;
    width:500px;
    overflow: scroll;
    
}
  nav{
    display: flex;
    justify-content: space-between;
    padding: auto;
    align-items: center;

}
.navbar ul li{
    display: inline-block;
    padding: 15px;
    list-style: none;
    position: relative;
    margin-top: 25px;
    margin-right: 25px;

}
.navbar ul li a{
    color:black;
    text-decoration: none;
 background-color: #C0C0C0	;
    padding: 15px;


}
.navbar ul li a:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);
    background: #3eb034;
    color:black;
    }
.logo{
    display: flex;
    justify-content: space-between;
    text-align:center;
    background-color:#C0C0C0	;


}

.modal {
  display: none;
  position: fixed;
  z-index: 8;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}
.modal-content {
  margin: 50px auto;
  border: 1px solid #999;
  width: 60%;
}
h2{
  margin: 0 0 20px;
  font-weight: 400;

}      
form {
  padding: 25px;
  margin: 25px;
  box-shadow: 0 2px 5px #f5f5f5;
  background: #eee;
}
input{
  width: 90%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #1c87c9;
  outline: none;
}
.contact-form button {
  width: 100%;
  padding: 10px;
  border: none;
  background: #1c87c9;
  font-size: 16px;
  font-weight: 400;
  color: #fff;
}
button:hover {
  background: #2371a0;
}
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
button.button1 {
  background: none;
  border-top: none;
  outline: none;
  border-right: none;
  border-left: none;
  border-bottom: #02274a 1px solid;
  padding: 0 0 3px 0;
  font-size: 16px;
  cursor: pointer;
}
button.button1:hover {
  border-bottom: #a99567 1px solid;
  color: #a99567;
}